[defaults]
roles_path = roles
stdout_callback = yaml
bin_ansible_callbacks = True
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
inventory = inventories/production/hosts.yml
nocows = 1

[ssh_connection]
pipelining = True
